{% extends 'base_buyer.html' %}

{% block content %}
<div class="container py-5 h-100">
    <div class="card" style="border-radius: 15px;">
        <div class="card-body p-4">
            <h3>Current Orders</h3>
            <table class="table">
                <thead>
                  <tr>
                    <th class = "col-1">#</th>
                    <th class = "col-3">Vendor</th>
                    <th class="col-3">Details</th>
                    <th class="col-3">Date</th>
                    <th class = "col-2">Total Price</th>
                  </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <th>{{ loop.index }}</th>
                            <td>
                                <div>
                                    <span>{{order['vendor_name']}}
                                    <br>
                                    Phone: {{order['vendor_phone']}}</span>
                                </div>
                            </td>
                            <td>{{ order['product_name'] }} x {{ order['qty'] }}</td>
                            <td>{{ order['date'] }}</td>
                            <td>₹ {{ order['price'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div>

<div class="container py-5 h-100">
    <div class="card" style="border-radius: 15px;">
        <div class="card-body p-4">
            <h3>Past Orders</h3>
            <table class="table">
                <thead>
                  <tr>
                    <th class = "col-1">#</th>
                    <th class = "col-3">Vendor</th>
                    <th class="col-3">Details</th>
                    <th class="col-3">Date</th>
                    <th class = "col-2">Total Price</th>
                  </tr>
                </thead>
                <tbody>
                    {% for order in prev_orders %}
                        <tr>
                            <th>{{ loop.index }}</th>
                            <td>
                                <div>
                                    <span>{{order['vendor_name']}}
                                    <br>
                                    Phone: {{order['vendor_phone']}}</span>
                                </div>
                            </td>
                            <td>{{ order['product_name'] }} x {{ order['qty'] }}</td>
                            <td>{{ order['date'] }}</td>
                            <td>₹ {{ order['price'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div>
{% endblock %}